@model ThietKeWebBTL_User2.Models.Image

@{
    ViewData["Title"] = "AddImage";
}

<div class="card">
	<div class="card-body">
		<h1>Add image</h1>
		<hr />
		<div class="row">
			<div class="col-md-4">
				<form asp-action="AddImage" enctype="multipart/form-data">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="form-group">
						<label asp-for="FileName" class="control-label"></label>
						<input asp-for="FileName" class="form-control" />
						<span asp-validation-for="FileName" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="DisplayOrder" class="control-label"></label>
						<input asp-for="DisplayOrder" class="form-control" />
						<span asp-validation-for="DisplayOrder" class="text-danger"></span>
					</div>
					<div class="form-group">
						<input type="submit" value="Create" class="btn btn-primary" />
					</div>
					@*<div class="form-group">
					<label asp-for="Image" class="control-label"></label>
					<input asp-for="Image" class="form-control" />
					<span asp-validation-for="Image" class="text-danger"></span>
					</div>*@
					<div class="form-control">
						<label asp-for="formFileImage" class="control-label"></label>
						<input asp-for="formFileImage" class="form-control" />
						<span asp-validation-for="formFileImage" class="text-danger"></span>
					</div>
					
				</form>
			</div>
		</div>

		<div>
			<a asp-action="ProductDetailTable">Back to List</a>
		</div>
	</div>
</div>
@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}

}



